In [1]:
name = "Mohit Uniyal"
age = 20

In [4]:
f"My name is {name}, I am {age} years old"

'My name is Mohit Uniyal, I am 20 years old'

## Starting with Loops
- While loop
- for loop

In [13]:
i = 0

while (i<10):
    print(i, end=", ")
    i+=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [19]:
# for in 
for ele in range(3, 21):
    if ele%2 != 0:
        print(ele, end= ", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

In [21]:
for ele in range(3,21,2):
    print(ele, end= ", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

## Strings

In [102]:
# ''
# ""
# """ """ => multi line 

st = """My name is Mohit. I'm from Delhi"""

In [30]:
st

"My name is Mohit. I'm from Delhi"

In [31]:
print(st)

My name is Mohit. I'm from Delhi

In [32]:
type(st)

str

In [33]:
st.upper()

"MY NAME IS MOHIT. I'M FROM DELHI"

In [34]:
st.lower()

"my name is mohit. i'm from delhi"

In [40]:
st.replace("Mohit" , "Rohit")

"My name is Rohit. I'm from Delhi"

In [45]:
"          I love Python.        ".strip()

'I love Python.'

In [47]:
st.istitle()

False

In [50]:
"Mohit".istitle()

True

In [51]:
st

"My name is Mohit. I'm from Delhi"

In [53]:
st.count("mumbai")

0

In [56]:
st.find("name")

3

In [66]:
# important func.
st.split(".")

['My name is Mohit', " I'm from Delhi"]

In [70]:
st

"My name is Mohit. I'm from Delhi"

In [68]:
st[0]

'M'

In [75]:
st[len(st)-2]

'h'

In [77]:
# backward indexing, negative indexing
print(st[-1])
print(st[-2])

i
h

In [81]:
# slicing
# st[  start_idx :  end_idx + 1 ]
st[11 : 16]

'Mohit'

In [86]:
print(st[ : ])
print(st[11 : -1])

My name is Mohit. I'm from Delhi
Mohit. I'm from Delh

In [89]:
st[9:2:-1] # step size

'si eman'

In [94]:
st[::-1] # reverse

"ihleD morf m'I .tihoM si eman yM"

In [105]:
st = "changed"

In [108]:
st[0] = "r"

TypeError: 'str' object does not support item assignment

## Operators
- Arthimatic
- Logical (and, or, not)
- Boolean
- bitwise

In [112]:
(5>2) and (2>7)

False

In [113]:
(7>=7) or (7>10)

True

In [114]:
not True

False

In [158]:
not (3>5)

True

In [117]:
10 & 4

0

In [118]:
10 | 4

14

In [127]:
0b1010

10

# Functions

In [161]:
def hello():
    print("hello from function")

In [166]:
def func_name(a, b, c):

    """
    This is my sample doc string
    """
    res = a+b
    c()
    
    return res

In [167]:
ret_val = func_name(5, 9, hello)

hello from function

In [160]:
print(ret_val)

14

In [168]:
def authentication(user, passw, login, *args ):
    if user =="mohit" and passw =="nahi batauga":
        login(agrs)
    else:
        print("user or pasword incorrect")

<b> Keyword arguments</b>

In [169]:
def check(cars, name, age):
    print(f"My name is {name}, my age is {age}, i 've {cars} cars")

In [175]:
check(4, age= 20, name= "Mohit"  )

My name is Mohit, my age is 20, i 've 4 cars

### args and kwargs
<pre>
*args
**kwargs
</pre>

In [178]:
def test_func(*args):
    print(args)
    print(args[0])
    print(args[-1])

In [180]:
test_func(2,5,623,583)

(2, 5, 623, 583)
2
583

In [185]:
def test_func1(**kwargs):
    print(kwargs)
    print(kwargs['name'])
    print(kwargs['cars'])

In [186]:
test_func1(name="Mohit", age=20, cars = 4)

{'name': 'Mohit', 'age': 20, 'cars': 4}
Mohit
4

In [195]:
def final_func(no1, no2 , no3, *abcd, **kwargs):
    print(no1)
    print(no2)
    print(no3)
    print(abcd)
    print(kwargs)

In [196]:
final_func(3,4,7, 90,"Hello", True,  100, name="Mohit", age=20)

3
4
7
(90, 'Hello', True, 100)
{'name': 'Mohit', 'age': 20}

n=5
*
**
***
****
*****

In [201]:
def pattern(n):
    for i in range(1, n+1):
        print("*" * i)

In [202]:
pattern(5)

*
**
***
****
*****

# Data Structures
- list
- tuples
- set
- dictionary

### List
- indexing
- mutable
- heterogenous elements (diff datatypes)

In [205]:
li = []

In [206]:
type(li)

list

In [216]:
li2 = list()

In [217]:
type(li2)

list

In [218]:
li = [ 4, 6,2,9,10, 25, 1]

In [219]:
li

[4, 6, 2, 9, 10, 25, 1]

In [223]:
print(li[0])
print(li[-1])

# slicing
print(li[2:-1])

4
1
[2, 9, 10, 25]

In [225]:
li[0] = 100

In [226]:
li

[100, 6, 2, 9, 10, 25, 1]

In [227]:
li2 = [2,6,1, 6.26, 1.09, "Mohit", "Hello", True]

In [228]:
li2

[2, 6, 1, 6.26, 1.09, 'Mohit', 'Hello', True]

In [232]:
li2[5]

'Mohit'

In [233]:
# nested List
li_new =  [ [1,2,3] , ["Mohit", "Uniyal"] , ["Cars" ,"biks"], [[90, 10, 45, ["pickme"]]] ]

In [234]:
len(li_new)

4

In [241]:
li_new[-1][0][-1][0]

'pickme'

In [242]:
mat = [[9,8,7] ,  [1,2,3] , [7,5,4], [9,0,1]]

In [245]:
len(mat)

4

In [251]:
li.append(899)

In [252]:
li

[100, 6, 2, 9, 10, 25, 1, 899]

In [253]:
li.insert(2, 333)

In [254]:
li

[100, 6, 333, 2, 9, 10, 25, 1, 899]

In [255]:
# extend

In [256]:
li.remove(999)

ValueError: list.remove(x): x not in list

In [257]:
li.reverse()

In [258]:
li

[899, 1, 25, 10, 9, 2, 333, 6, 100]

In [262]:
li[::-1]

[899, 333, 100, 25, 10, 9, 6, 2, 1]

In [260]:
li.sort()

In [261]:
li

[1, 2, 6, 9, 10, 25, 100, 333, 899]

In [269]:
li[::-1]

[899, 333, 100, 25, 10, 9, 6, 2, 1]

In [270]:
li = [1,2,3,4,5]

In [271]:
li2 = li

In [272]:
li2[0] = 100

In [273]:
li2

[100, 2, 3, 4, 5]

In [274]:
li

[100, 2, 3, 4, 5]

In [275]:
l1 =[1,2,3, 4]
l2 = li.copy()

In [276]:
l2[0] = 100

In [277]:
l2

[100, 2, 3, 4, 5]

In [278]:
l1

[1, 2, 3, 4]

In [284]:
## in operator => membership

In [285]:
4 in l1

True

In [286]:
"M" in "Im mohit"

False